.homePage{
      @extend %containerWrapper;
      flex-direction: column;
      margin-top: -8rem;
      min-height: 100vh;
      .carousel{
            background: darken($blue, 40) ;
            width: 100vw;
            height: 30vh;
      }
      .carousel-item{
            height: 30vh;
            img{
                  height: 100%;
                  width: 100%;
                  object-fit: contain;
            }
            span{
                  background-color: change-color($dark, $alpha: 0.5);
                  border-radius: 1rem;
            }
      }
      .jumbotron{
            margin-bottom: 0;
            button{
                  @extend .button
            }
      }
      &__catagories{
            min-height: 34vh;
            .card, .card-header{
                  border: none;
                  background: none;
            }
            .card-header{
                  padding-left: 0;
            }
            h2{
                  &::after{
                        content: '>>>';
                  }
            }
      }
      @include desktop{
            &{
              flex-direction: row-reverse;
              margin-top: -4rem;
            }
            .carousel, .jumbotron{
                  width: 75vw;
                  margin-right: 2rem;
            }
            .carousel{
                  border-bottom-left-radius: 2rem;
                  border-bottom-right-radius: 2rem;
            }
            &__catagories{
                  width: 20vw;
                  height: 80vh;
                  margin: 1rem 2rem;
                  background-color: darken($blue, 30);
                  border-radius: 2rem;
                  box-shadow: 10px 0px 10px 5px darken($blue, 40);
                  h2{
                        color: $light;
                        padding-left: 2rem;
                  }
            }
      }
}