.homePage{
      @extend %containerWrapper;
      flex-direction: column;
      position: relative;
      .carousel{
            background: darken($blue, 40) ;
            width: 100vw;
            height: 30vh;
      }
      .carousel-item{
            height: 30vh;
            img{
                  height: 100%;
                  width: 100%;
                  object-fit: contain;
            }
      }
      .jumbotron{
            box-shadow: 0 0 10px 5px $light;
            button{
                  @extend .button;
            }
      }
      &__left{
            position: absolute;
            bottom: 2px;
            left: 0;
            right:0;
            height: 15vh;
            padding-left: 0.2rem;
            display: flex;
            flex-direction: row;
            .image{
                  height: 100%;
                  width: 25%;
                  border-radius: 1rem;
                  overflow: hidden;
                  margin-right: 0.2rem;
                  img{
                        height: 100%;
                        width: 100%;
                  }
            }
      }
      @include desktop{
            .carousel, .jumbotron{
                  width: 75vw;
                  margin: 0 1rem 0 auto;   
            }
            .carousel{
                 margin-top: 1rem;
                 border-top-left-radius: 1rem;
                 border-top-right-radius: 1rem;
            }
            &__left{
                  height: unset;
                  left:1rem;
                  bottom: 1rem;
                  top: 4rem;
                  width: 18vw;
                  flex-direction: column;
                  .image{
                        margin-right: unset;
                        width: 100%;
                        height: 25%;
                        margin-top: 1rem;
                        box-shadow: 0 0 5px 5px $light;
                        img{
                              height: 100%;
                              width: 100%;
                        }
                  }
            }
            &__right{
                  position: absolute;
                  right: 1rem;
                  bottom:1rem;
                  top:4rem;
                  width: 18vw;
                  border-radius: 1rem;
                  display: flex;
            }
      }
}