.navBar{
    @include dflex(start, center);
    height: 4rem;
    background-color: change-color($dark, $alpha: 0.4);
    position: relative;
    z-index: 9;
    &__link{
        margin-left: 10vw;
        font-size: $med;
        color: $light;
        transition: transform 500ms linear;
        .dropdown-toggle{
            color: $light;
        }
        &:hover{
            transform: scale(1.25);
        }
        @include tablet{
            font-size: $sm;
        }
    }
    button{
        @extend .button__sm;
        margin-right: 0.5rem;
        a{
            color:$light;
            &:hover{
                color: $blue;
            }
        }
        &:nth-of-type(1){
            margin-left: auto;
        }
    }
}