.navBar{
    @include dflex(none, center);
    height: 4rem;
    background-color: $dark;
    position: relative;
    font-family: sans-serif;
    z-index: 9;
    &__link{
        text-shadow:2px 2px 2px $dark;
        margin-left: 5vw;
        font-size: $med;
        color: $light;
        transition: transform 500ms linear;
        .dropdown-toggle{
            color: $light;
        }
        .dropdown-item{
            text-shadow: none;
        }
        &:hover{
            color: $light;
            transform: scale(1.25);
        }
    }
    button{
        @extend .button__xsm;
        margin-right: 0.5rem;
        a{
            color:$light;
            &:hover{
                color: $blue;
            }
        }
    }
    form{
        @include dflex(center, center);
        flex-direction: row;
        margin-left: auto;
        position: relative;
        .error{
            position: absolute;
            bottom: 27%;
            right: 35%;
        }
        button{
           all: unset;
           color: $light;
           margin: 0.5rem 1.5rem 0 0.1rem;
           text-shadow: 2px 2px $dark;
           border-radius: 1rem;
           &:hover{
               border: none;
               border-radius: 1rem;
               color: $light;
               background: none;
           }
        }
        input{
            border-radius: 1rem;
            border: 1px solid $dark;
            height: 2rem;
        }
    }
    @include tablet{
        &__link{
            font-size: $xsm;
        }
        button{
            font-size: $xxsm;
        }
    }
    @include desktop{
        form{
            input{
                width: 10vw;
            }
        }
    }
}