.sell{
    @extend %containerWrapper;
    @include bgImg('../../assets/images/dollar-dark.jpg', bottom);
    form{
        @extend %formWrapper;
        color: $light;
    }
    .form-check{
        display: flex;
        align-items: center;
        font-size: $sm;
    }
    &__email{
        animation: formLoadAnime 1000ms linear;
    }
    a{
        color: lighten($blue, 40);
    }
    button{
        @extend .button__med;
    }
}