.signin{
    @extend %containerWrapper;
    @include bgImg('../../assets/images/rusted-lock.jpg', center);
    background-color: change-color($dark, $alpha:0.7);
    background-blend-mode: darken;
    form{
        @extend %formWrapper;
        color: $light;
        span{
            font-size: $xsm;
            display: block;
        }
        a{
            display: inline;
            text-decoration: underline;
            color: lighten($blue, 50);
        }
        button{
            @extend .button__med;
            margin-top: 1rem;
        }
    }
}