.signup{
    @extend %containerWrapper;
    form{
        @extend %formWrapper;
        background-color: $gray;
        color: set-text-color($gray);
    }
    h2{
        text-align: center;
    }
    a{
        display: block;
        color: darken($blue, 10);
    }
    button{
       @extend .button
    }
}