.signup{
    @extend %containerWrapper;
    @include bgImg('../../assets/images/sky.jpg', bottom);
    form{
        @extend %formWrapper;
        border: 1px solid $light;
        color: $light;
    }
    h2{
        @include dflex(center, center)
    }
    input{
        &:focus {
            border: solid 0.3rem $green;
            border-radius: 0.5rem;
        }
    }
    a{
        display: block;
        color: lighten($blue, 40);
        font-size: $xsm;
    }
    button{
       @extend .button
    }
}