.error{
    background-color: darken($light, 40);
    padding: 0 0.4rem 0.1rem 0.4rem;
    border: 0.1rem solid $red;
    border-radius: 1rem;
    color: $red;
}
.button{
    padding: 0.5rem 1.5rem;
    border: 1px solid $light;
    border-radius: 1rem;
    font-size: $sm;
    margin: 1rem auto;
}