@mixin bgImg($url, $position) {
    background-image: url($url);
    background-size: cover;
    background-position: $position;
}
@mixin dflex($just, $align) {
    display: flex;
    justify-content: $just;
    align-items: $align;
}
@mixin tablet {
    @media screen and (max-width: 800px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content
    }
}