$blue: blue;
$dark: black;
$darkBg: rgba(0, 0, 0, 0.4);
$gray:gray;
$green: rgb(1, 109, 1);
$light: white;
$lightBg: rgba(248, 246, 246, 0.4);
$red: rgb(167, 5, 5);

//font size
$xsm: 1rem;
$sm: 1.25rem;
$med: 1.5rem;
$large: 2rem;
$xlarge: 3rem;